.anime-search {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  padding: 1rem 0;
  background-color: var(--primary-color);
  height: 80px;

  &__wrapper {
    max-width: 500px;
    min-width: 30%;
    width: 100%;

    @media screen and (max-width: 800px) {
      max-width: none;
      min-width: 30%;
      margin: 5px;
    }
  }

  &__button {
    width: 100px;
    min-width: 50px;
    height: 60px;
    display: inline-block;
    text-decoration: none;
    outline: none;
    font-weight: 300;
    padding: 0;
    margin: 0;
    transition: all 0.2s;
    background-color: var(--primary-color);
    color: whitesmoke;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    box-sizing: border-box;
    border: 1px solid white;
    border-left: 0;

    @media all and (max-width: 500px) {
      width: 70px;
    }

    &:hover {
      background-color: #4095c6;
    }
  }

  input {
    height: 60px;
    width: 60vw;
    max-width: 400px;
    min-width: 40%;
    padding: 3px 8px;
    outline: none;
    border: 1px solid white;
    transition: 0.3s border-color;
    color: whitesmoke;
    box-sizing: border-box;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: var(--primary-color);
    border-right: 0;
  }

  input::placeholder {
    color: whitesmoke;
  }
}
